/* Common */

* {
    box-sizing: border-box;
    transition: all 0.3s ease-out 0s;
}

body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 980px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Header */

header {
    background-color: #4D8ED4;
    color: #fff;
    height: 100px;
}

header h1 {
    margin: 0;
    padding: 30px 0;
    width: 200px;
}

.userpanel {
    padding: 40px 0;
    text-align: right;
    width: 300px;
}

.error {
    background-color: #FFCDCD;
    border: 1px solid #C10909;
    color: #C10909;
    padding: 10px;
}

.success {
    background-color: #BCEFBC;
    border: 1px solid #008000;
    color: #008000;
    padding: 10px;
}

.site-nav {
    padding: 35px 0;
}

.site-nav ul li {
    float: left;
    height: 30px;
    padding: 0 15px;
}

.site-nav ul li a {
    font-size: 1.2em;
    line-height: 30px;
}

/* Content */

section.content {
    color: #5F5F5F;
    min-height: 800px;
    padding: 30px 0;
}

.form-block {
    width: 400px;
    margin: 20px auto;
}

.form-block-wide {
    width: 100%;
}

.form-field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type=text], input[type=email], input[type=password] {
    height: 30px;
    line-height: 20px;
}

input[type=text], input[type=email], input[type=password], textarea {
    border: 1px solid #707070;
    border-radius: 3px;
    display: block;outline: none;
    padding: 5px;
    width: 100%;
}

textarea {
    height: 300px;
}

input:focus {
    box-shadow: 0 0 3px 1px #C1C1C1;
}

.post-item {
    border-bottom: 1px solid #B2B2B2;
    padding: 30px 0;
}

.post-item h3 {
    color:  #4D8ED4;
    margin: 0 0 10px 0;
}

.post-meta {
    font-size: 0.8em;
    color: #B2B2B2;
    margin: 8px 0;
}

/* Footer */

footer {
    background-color: #707070;
    color: #D4D4D4;
    height: 60px;
}

.copyright {
    padding: 20px 0;
}
